{% load i18n %}

{% if DEBUG and SHOW_SUBJECT %}
<!-- Debugging styles -->
<style type="text/css">
  .debugger-popover {
    position: fixed;
    right: 0;
    top: 0;

    margin: 8px;
    padding: 12px;

    font-family: system-ui, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    color: white;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    transition: opacity 0.2s ease-out;
  }

  .debugger-popover:hover {
    opacity: .1;
  }

  .debugger-popover b {
    font-weight: 500;
  }
</style>

<!-- Debugging popover -->
<div class="debugger-popover">
  <b>Subject</b>: {% block subject %}{% endblock %}
</div>
{% endif %}

{% block content %}{% endblock %}
